body {
  background-color: white;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  overflow: auto;
}

#preview {
  font-size: 15px;
}

/* Links */
a {
  color: rgb(86, 156, 210);
}

/* Headers */
h1 {
  font-size: 23px;
  margin-bottom: 12px;
}

h2 {
  font-size: 18px;
  margin-bottom: 12px;
}

h3 {
  font-size: 16px;
  margin-bottom: 12px;
}

h4 {
  font-size: 14px;
  margin-bottom: 14px;
}

h5, h6 {
  font-size: 13px;
}

/* Code blocks */
pre {
  padding: 12px;
  color: rgb(47, 51, 55);
  width: auto;
  max-height: 600px;
  overflow: auto;
  font-size: 13px;
  line-height: 1.30769231;
  background-color: rgb(246, 246, 246);
  border-radius: 5px;
}

pre>code {
  display: block;
  background-color: transparent;
}

code {
  font-size: 13px;
  font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
  padding: 2px 4px;
  background-color: rgb(227, 230, 232);
  color: rgb(35, 38, 41);
  border-radius: 3px;
}


/* Tables */
table {
  width: 100%;
  text-align: left;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  font-size: 13px;
}

th {
  background-color: rgb(248, 249, 249);
}

th, td {
  border: solid 1px rgb(214, 217, 220);
  padding: 0.5em;
}

/* Blockquotes & Spoilers */
blockquote, .spoiler {
  position: relative;
  display: block;
  width: 92%;
  margin: 0 auto;
  padding: 0.8em 1em;
  border-left: solid 4px rgb(203, 207, 210);
  color: rgb(82, 89, 96);
}

blockquote > p {
  margin: 0;
}

.spoiler {
  background-color: rgb(241, 242, 243);
  transition: 0s 86400s;
  color: transparent;
}

.spoiler:focus {
  transition: all 0.1s ease-in;
  color: inherit;
  outline: 0;
}

.spoiler:after {
  content: "Reveal spoiler";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' fill='rgb(132, 141, 149)' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath d='M9 17A8 8 0 119 1a8 8 0 010 16zM8 4v6h2V4H8zm0 8v2h2v-2H8z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center right;
  position: absolute;
  top: 1em;
  right: 1em;
  pointer-events: none;
  padding-right: 22px;
  color: rgb(82, 89, 96);
  transition: 0s 86400s;
  opacity: 1;
  font-size: 0.85em;
}

.spoiler:focus:after {
  transition: all 0.1s ease-in;
  opacity: 0;
}
